#c{
	position: fixed;
	top: 0px;
	left: 0px;
}

#create{
	position: fixed;
	top: 0px;
	left: 600px;
	width: 20%;
	height: 100%;
}

.ui-button{
	width: 80px;
	height: 80px;
	background-color: #fff;
	border: 5px solid black;
}

.ui-button:hover{
	width: 80px;
	height: 80px;
	border: 5px solid white;
}

#ui{
	position: absolute;
	top: 0px;
	left: -80px;
	width: 200px;
	height: 400px;
}

video{
	position: fixed;
	top: 0px;
	left: 0px;
}

#face{
	position: absolute;
	top: 0px;
	left: 0px;
}

#fabric{
	position: absolute;
	top: 0px;
	left: 0px;
}