#c{
	position: fixed;
	top: 0px;
	left: 0px;
}

#create{
	position: fixed;
	top: 0px;
	left: 600px;
	width: 20%;
	height: 100%;
}

video{
	position: fixed;
	top: 0px;
	left: 0px;
}

#face{
	position: absolute;
	top: 0px;
	left: 0px;
}

#fabric{
	position: absolute;
	top: 0px;
	left: 0px;
}